<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>layout 2</title>
        <link rel="stylesheet" href="./index.css" />
    </head>
    <body>
        <div id="wrapper">

            <div id="logo-nav-div" class="clearfix">
                <div id="logo-div">
                    <h1>LOGO</h1>
                </div>
                <div id="nav-div">
                    <h1>NAVIGATION</h1>
                </div>
            </div>

            <div id="banner">
                <h1>banner</h1>
            </div>

            <div id="banner">
                <h1>banner</h1>
            </div>

            <div id="card-div" class="clearfix">
                <div class="card">
                    <h1>Card 1</h1>
                </div>
                <div class="card">
                    <h1>Card 2</h1>
                </div>
                <div class="card">
                    <h1>Card 3</h1>
                </div>
            </div>

            <div id="footer">
                <h1>footer</h1>
            </div>

        </div>
    </body>
</html>