<!Doctype HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./index.css" />
        <title>My Index Page</title>
    </head>
    <body>
        <div id="wrapper">

            <div id="logo-div" >
                <h1>Logo</h1>
            </div>
            <div id="navigation-div" >
                <h1>Navigation</h1>
            </div>
            <div id="banner-div" >
                <h1>Banner</h1>
            </div>
            
            <div id="main-div" class="clearfix">
                <div id="side-div">
                    <h1>side-div</h1>
                </div>
                <div id="body-div">
                    <h1>body-div</h1>
                </div>
            </div>

            <div id="footer-div">
                <h1>Footer</h1>
            </div>
        </div>
    </body>
</html>