<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./index.css" />

    <title>layout 3</title>
</head>
<body>
    <div id="wrapper">
        <div id="logo-div">
            <h1>Logo</h1>
        </div>

        <div id="main-content-wrapper" class="clearfix">
            <div id="nav-div">
                <h1>nav div</h1>
            </div>
            <div id="main-div">
                <div id="banner-div">
                    <h1>banner div</h1>
                </div>
                <div id="body-div">
                    <h1>body div</h1>
                </div>
            </div>
        </div>

        <div id="footer">
            <h1>footer</h1>
        </div>
    </div>
</body>
</html>